In [1]:
# Import Dependencies
# Store filepath in a variable
# Read Data file with the pandas library

import pandas as pd

import numpy as np

data_file = "Resources/purchase_data.csv"

data_file_df = pd.read_csv (data_file)

data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
print("Total Number of Players") 
print("with")
print("Purchasing Analysis (Total)") 
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

total_players = len(data_file_df["SN"].value_counts())
unique_items = len(data_file_df["Item ID"].unique())
average_price = '{:.2f}'.format(data_file_df["Price"].mean())
total_purchase_count = len(data_file_df["Purchase ID"].value_counts())
total_revenue = '${:.2f}'.format(data_file_df["Price"].sum())

# Summary of values
df_temp = pd.DataFrame( {
                            "Total Number of Players": [total_players],
                            "Number of Unique Items" :[unique_items],
                            "Average Purchase Price" : [average_price],
                            "Total Number of Purchases" :[total_purchase_count],
                            "Total Revenue"  : [total_revenue]
                        }
                      )
df_temp.index.name = None
df_temp

Total Number of Players
with
Purchasing Analysis (Total)

,Total Number of Players,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,179,3.05,780,$2379.77

In [3]:
print("Gender Demographics")

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

df_gender = data_file_df.groupby("Gender")
#count_by_gender = len(df_gender["SN"].unique())
count_by_gender = df_gender.nunique()["SN"]
percent_by_gender = (count_by_gender/total_players) * 100

df_temp = pd.DataFrame( {
                            "Total Players": count_by_gender,
                            "Percentage": round(percent_by_gender, 2)
                        }
                      )
df_temp

Gender Demographics

                       Total Players  Percentage
Gender
Female                            81       14.06
Male                             484       84.03
Other / Non-Disclosed             11        1.91

In [4]:
print("Purchasing Analysis (Gender)")

# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Gender

gender_purchase_cnt = df_gender["Purchase ID"].count()
gender_avg_price = df_gender["Price"].mean()
gender_ttl_purchase = df_gender["Price"].sum()
gender_avg_per_person = gender_ttl_purchase / total_players

df_temp = pd.DataFrame( {
                            "Purchase Count": gender_purchase_cnt,
                            "Average Purchase Price": round(gender_avg_price, 2),
                            "Total Purchase Value": round(gender_ttl_purchase, 2),
                            "Average Purchase Total per Person by Gender": round(gender_avg_per_person, 2)
                        }
                      )
df_temp

Purchasing Analysis (Gender)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,3.20,361.94,0.63
Male,652,3.02,1967.64,3.42
Other / Non-Disclosed,15,3.35,50.19,0.09

In [5]:
print("Age Demographics")

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 45]
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]

data_file_df["Age Group"] = pd.cut(data_file_df["Age"], age_bins, labels = age_group_names)
#data_file_df

df_age_group = data_file_df.groupby("Age Group")

agegrp_total_count = df_age_group["SN"].nunique()
agegrp_purchase_cnt = df_age_group["Purchase ID"].count()
agegrp_avg_price = df_age_group["Price"].mean()
agegrp_ttl_purchase = df_age_group["Price"].sum()
agegrp_avg_per_person = agegrp_ttl_purchase / agegrp_total_count

df_temp = pd.DataFrame( {
                            "Purchase Count": agegrp_purchase_cnt,
                            "Average Purchase Price": round(agegrp_avg_price, 2),
                            "Total Purchase Value": round(agegrp_ttl_purchase, 2),
                            "Average Purchase Total per Person by Gender": round(agegrp_avg_per_person, 2)
                        }
                      )
df_temp

Age Demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Age Group,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40-44,12,3.04,36.54,3.32
45+,1,1.70,1.70,1.70

In [6]:
print("Purchasing Analysis (age)")

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age

print("-Same analysis as above-")

Purchasing Analysis (age)
-Same analysis as above-

In [7]:
print("Top Spenders")

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

top_spender = data_file_df.groupby("SN")

ts_purchase_cnt = top_spender["Purchase ID"].count()
ts_avg_price = top_spender["Price"].mean()
ts_ttl_purchase = top_spender["Price"].sum()

df_temp = pd.DataFrame( {
                            "Purchase Count": ts_purchase_cnt,
                            "Average Purchase Price": round(ts_avg_price, 2),
                            "Total Purchase Value": round(ts_ttl_purchase, 2)
                        }
                      )

df_temp = df_temp.sort_values(["Total Purchase Value"], ascending=False).head()

df_temp

Top Spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [8]:
print("Most Popular Items")

# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

Most Popular Items

In [9]:
print("Most Profitable Items")

# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

Most Profitable Items