In [1]:
# Import Dependencies
# Store filepath in a variable
# Read Data file with the pandas library

import pandas as pd

import numpy as np

data_file = "Resources/purchase_data.csv"

data_file_df = pd.read_csv (data_file)

data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total Number of Players(player count) with SN 
### Purchasing Analysis (Total) by item Id 
# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

total_players =len(data_file_df["SN"].value_counts())
unique_items = len(data_file_df["Item ID"].unique())
Average = data_file_df["Price"].mean ()
Total_Purchase_count = len(data_file_df["Purchase ID"].value_counts())
Total_Revenue = data_file_df["Price"].sum()

# Summary of values
data_file_df = pd.DataFrame({"Total_players": [total_players],
                                 "Unique_items_count" :[unique_items],
                                 "Average_Price" : [Average],
                                 "Purchase count" :[Total_Purchase_count],
                                 "Total Revenue"  : [Total_Revenue]
                             
                             })
data_file_df

,Total_players,Unique_items_count,Average_Price,Purchase count,Total Revenue
0,576,179,3.050987,780,2379.77

In [2]:
#Gender Demographics

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

count = data_file_df["Gender"].value_counts()
count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [ ]:
#Purchasing Analysis (Gender)

# The below each broken by genderV
#Purhase Count
# Average Purchase Price
# Total Purchase Value
#Average Purchase Total per Person by Gender

Gender_df = data_file.groupby('Gender')

Purchase_count = Gender_df["Purchase ID"].count()

avg_purchase_price = Gender_df["Price"].mean()

total_purchase_value= avg_purchase_price/total_count_gender

Purchasing_Analysis_Gender_df = pd.DataFrame({"Purchase Count": [purchase_count], 
                                    "Average Purchase Price": [avg_purchase_price],
                                    "Average Purchase Value":[total_purchase_value],
                                    "Avg Purchase Total per Person": [avg_purchase_per_person]
                                          })

Purchasing_Analysis_Gender_df

In [ ]:
### Age Demographics
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bins = [0-10, 10-20, 20-30, 31-40, 41-50, 51-60, 61-70, 71-80, 81-90, 91-100]

group_names = ["A","B","C","D","E","F","G","H","I","J"]
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

In [ ]:
### Purchasing Analysis (age)
# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age

In [ ]:
### Top Spenders
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

In [ ]:
### Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

In [ ]:
### Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value